.container{
    height: auto;
    margin: 60px auto;
    width: 70%;
    overflow: hidden;
    min-height: 75vh;
}   
.content{
    display: flex;
    justify-content: space-between;
    margin:20px auto ;
} 
.head h2{
    font-size: 2rem;
}
.image{
    width: 32%;
    max-height: 50%;
    padding: 10px;
    border: 1px solid black;
}
.image img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}
.text{
    width: 62%;
    padding: 10px;
}
.title{
    font-size: 1.5rem;
    margin: 0 0 10px 0;
} 
.price{
    font-size: 1.5rem;
    color: orangered;
    margin: 0;
}   
.description{
    font-size: 20px;
}
.addingbtn{
    background-color: orangered;
    color: white;
    width: 30%;
    margin: 20px 0;
}
@media screen and (max-width: 1700px){
    .container{
        width: 80%;
        height: 76.5vh;
    }
}
@media screen and (max-width: 1200px){
    .text{
        width: 60%;
    }
}
@media screen and (max-width: 900px){
    .text{
        width: 40%;
    }
    .image{
        width: 55%;
    }
    .addingbtn{
        width: 50%;
    }
}
@media screen and (max-width: 600px){
    .container{
        height: auto;
    }
    .content{
        display: block;
        text-align: center;
        margin: 10px auto;
    }
    .image{
        margin: auto;
    }
    .text{
        margin: auto;
        width: 80%;
    }
    .addingbtn{
        margin: auto;
    }

}
